.IntContainer {
  padding: 8px;
  margin: 30px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #167a671a;
}
.IntH1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 40px;
}
.IntTestDes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 100px;
}
.InterpretedPara {
  margin: 10px;
}
.h1SmartInt {
  font-size: 40px;
  padding: 5px 5px 0px 5px;
  height: 120px;
  color: #0e7f6b;
  font-weight: 800;
  line-height: 119px;
  text-align: left;
  margin-top: 71px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 35px;
  /* border-bottom: 3px solid var(--darkGreen); */
}
.containerSmartI {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
