.body-part{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: left;
  position: absolute;
}





.hover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 20%;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  /* Add any other styles for your hover effect */
}

.heading{
  font-size: 30px;
}