.main-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-body-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}