.bgVis {
  background-color: white;
  border-radius: 20px;
}
.visContainer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.valueDisplay {
  height: fit-content;
  width: 600px;
  min-height: fit-content;
  background-color: #ffda00;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  border-radius: 10px;
}
.lowVal {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to right, #ff4d00, #ffda00);
  text-align: left;
  padding-left: 40px;
  color: white;
  font-weight: 600;
}
.normalVal {
  background-image: linear-gradient(
    to right,
    #ffda00,
    #72cb00,
    #72cb00,
    #ffda00
  );
  color: white;
  font-weight: 600;
}
.highVal {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(to left, #ff4d00, #ffda00);
  color: white;
  text-align: right;
  padding-right: 40px;
  font-weight: 600;
}
.indiVis {
  width: 50vw;
  padding: 20px 20px 20px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 4px dashed #0e7f6b1a;
  background-color: white;
  width: 650px;
}
.arrow {
  width: 0;
  height: 0;
  margin-left: 25px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #0a7d69a8;
  position: relative;
  bottom: 0.61rem;
}
.commentYou {
  margin-top: 9px;
  border-radius: 5px;
  width: fit-content;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
  text-align: center;
  background-color: #0a7d69a8;
}
.divRisk {
  background-color: #ffb8001a;
  padding: 8px 20px 15px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.subHeading {
  line-height: 40px;
  font-weight: 900;
  font-size: 20px;
}
.visHead {
  font-size: 40px;
  padding: 5px;
  height: 120px;
  color: #0e7f6b;
  font-weight: 800;
  line-height: 119px;
  text-align: left;
  margin-top: 71px;
  margin-left: 70px;
}
p {
  font-weight: 400;
  font-size: 16px;
  margin: 0%;
}
h2 {
  text-transform: capitalize;
}
.tips {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
.tip {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
}
.tipsContainer {
  background-color: #0085ff1a;
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.Reason {
  background-color: #ff007a1a;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0px 30px 0px;
  margin-top: 10px;
}
.legendVis {
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  line-height: 62.5px;
  font-weight: 800;
}
.indicator {
  display: flex;
  width: 100%;
  gap: 30%;
  margin-bottom: 8px;
  margin-top: 15px;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
}
.testDetail {
  font-weight: 900;
  line-height: 40px;
  margin-left: 20px;
}
.levelVis {
  display: flex;
}
.redCircle {
  margin-top: 5px;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}
.legendTestName {
  /* font-weight: lighter; */
  text-transform: uppercase;
}
