.header-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 90vh;
  background-color: #e7f2f0;
  position: fixed;
  padding-bottom: 20px;
}
.header-main-1 {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  align-items: left;
  gap: 50px;
  height: 100%;
  /* width: 20vw; */
}
.header-mid {
  margin-top: 30px;
}
.header-mid ul {
  font-style: DM Sans;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 15px;
}
.header-mid ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  width: 18vw;
  height: 40px;
  font-weight: 600;
}
.navLink {
  padding-left: 15px;
  width: 100%;
}
.header-mid ul li:hover {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #d1e9e5;
  border-radius: 10px;
  width: 18vw;
  height: 40px;
}
.header-end {
  text-align: left;
  margin-top: 36px;
}
.getAnoBTN {
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  width: 18vw;
  height: 40px;
  font-weight: 600;
}
.header-img {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 20px;
  width: 100px;
}
.navHeader {
  padding-right: 0%;
}
.NavLink {
  width: 100px;
  height: 20px;
}

.active {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  background-color: #0e7f6b;
  border-radius: 7px;
  width: 20vw;
  height: 40px;
}

.iLab-Logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header-end button {
  height: 2.5rem;
  width: 100%;
  font-weight: 900;
  border-radius: 10px;
  background-color: #0e7f6b;
  color: white;
}
.header-end button:hover {
  border-radius: 10px;
  background-color: #1e7944;
  color: white;
}


